.login {
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #ffffff;
    overflow: hidden;
}

.login .ellipse {
    position: absolute;
    top: -362px;
    left: -678px;
    width: 1672px;
    height: 2198px;
    background-color: #052b64;
    border-radius: 836px / 1099px;
}

.login .design-sem-nome {
    position: absolute;
    top: 198px;
    left: 104px;
    width: 725px;
    height: 704px;
    aspect-ratio: 1.03;
}

.login .text-wrapper {
    position: absolute;
    top: 518px;
    left: 1039px;
    width: 157px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .div {
    position: absolute;
    top: 608px;
    left: 1039px;
    width: 66px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .rectangle {
    position: absolute;
    top: 550px;
    left: 1039px;
    width: 353px;
    height: 51px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px #00000040;
    opacity: 0.45;
}

.login .text-wrapper-2 {
    position: absolute;
    top: 461px;
    left: 1041px;
    width: 117px;
    font-family: "Poppins-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #212121c2;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.login .rectangle-2 {
    position: absolute;
    top: 640px;
    left: 1038px;
    width: 353px;
    height: 51px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000bf;
    box-shadow: 0px 4px 4px #00000040;
    opacity: 0.45;
}

.login .text-wrapper-3 {
    position: absolute;
    top: 338px;
    left: 1041px;
    width: 349px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #052b64;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.login .rectangle-3 {
    position: absolute;
    top: 760px;
    left: 1116px;
    width: 161px;
    height: 62px;
    background-color: #0a2f66;
    border-radius: 35px;
}

.login .text-wrapper-4 {
    position: absolute;
    top: 776px;
    left: 1171px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .rectangle-4 {
    position: absolute;
    top: 833px;
    left: 1116px;
    width: 161px;
    height: 62px;
    background-color: #052b64;
    border-radius: 35px;
    border: 0.2px solid;
    border-color: #000000;
}

.login .text-wrapper-5 {
    position: absolute;
    top: 850px;
    left: 1139px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .logotipo-para {
    position: absolute;
    top: 290px;
    left: 1231px;
    width: 172px;
    height: 59px;
    aspect-ratio: 2.9;
}
